/* Footer */
footer {
  width: 100vw;
  height: 400px;
  bottom: 0;
  left: 0;
  background-color: #1E1E1E;

  .box_tags {
    width: 100vw;
    height: 300px;
    background-color: #fff;
  }

  .footer-content {
    width: 90vw;
    height: 100px;
    margin-left: 5vw;

    .certificate {
      width: 120px;
      height: 100%;
      position: relative;
      @include display_bl;

      & img {
        @include transform;
      }

      #mcafee {
        width: 100px;
        height: 50px;
      }
    }

    .link-utili {
      @include display_bl;
      float: right;

      & ul {
        width: 45vw;
        height: 100%;

        & li {
          font-size: 12px;
          line-height: 100px;
          padding: 0 2%;
          @include menu;
        }

        & a {
          @include link_w;
        }

      }
    }
  }
}
