body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* Main */
main {
  width: 100vw;
  min-height: 100vh;
  background-color: yellow;
  & main::after {
    @include clearfix;
  }
}

.woman_painting {
  @include contenitore;
  background-color: #101010;
  color: #fff;
  position: relative;

  .woman_text {
    @include box_text;

    & a {
      text-decoration: none;
      font-size: 22px;
      color: #fff;
    }
  }

  .woman_pict {
    @include box_pict;
  }
}

/* Sezione gufo */
.owl_painting {
  @include contenitore;
  background-color: #fff;
  position: relative;

  .owl_text {
    @include box_text;
  }

  .owl_pict {
    @include box_pict
  }
}

/* Sezione strada */
.street_painting {
  @include contenitore;
  background-color: #222222;

  .street_text {
    color: #fff;
    @include box_text;
  }

  .street_pict {
    width: 950px;
    height: 650px;
    position: absolute;
    bottom: 0;
    left: 15%;
    background-color: #222222;

    & img {
      width: 80%;
      height: 80%;
    }
  }
}
