@mixin transform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin display_bl {
  display: inline-block;
}

@mixin menu {
  list-style: none;
  display: inline-block;
  color: #fff;
}

@mixin jumboTitle {
  color: #fff;
  padding: 2% 3%;
}

@mixin link_w {
  text-decoration: none;
  color: #fff;
}

@mixin clearfix {
  content: "";
  display: flex;
  clear: both;
}

@mixin contenitore {
  width: 100vw;
  height: 1000px;
  text-align: center;
  line-height: 30px;
  padding: 7% 0;
}

@mixin box_text {
  width: 940px;
  height: 250px;
  margin: auto;

  & h2 {
    font-size: 40px;
    margin-bottom: 3%;
    font-weight: 300;
  }

  & h3 {
    font-size: 18px;
    margin-bottom: 4%;
    font-weight: 200;
  }
}

@mixin box_text_mini {
  width: 30vw;
  height: 200px;
  margin-top: 5%;
  padding: 2%;
  float: left;
  text-align: left;
  color: #fff;

  h3 {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 4%;
  }

  h4 {
    font-weight: 200;
  }
}

@mixin box_pict {
  width: 950px;
  height: 650px;
  position: absolute;
  bottom: 0;
  left: 15%;

  & img {
    width: 100%;
    height: 100%;
  }
}

@mixin box_pict_mini {
  width: 50vw;
  height: 500px;
  float: left;

  & img {
    width: 100%;
    height: 100%;
  }
}
