@mixin transform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin display_bl {
  display: inline-block;
}

@mixin menu {
  list-style: none;
  display: inline-block;
  color: #fff;
}

@mixin jumboTitle {
  color: #fff;
  padding: 2% 3%;
}

@mixin link_w {
  text-decoration: none;
  color: #fff;
}

@mixin clearfix {
  content: "";
  display: flex;
  clear: both;
}
